<div class="container">
  <ol class="breadcrumb">
    {% assign crumbs = (page.url | remove: "/index.html" | split: "/") %}
    {% if page.url == "/index.html" %}
    <li class="active">Home</li>
    {% else %}
    {% for crumb in crumbs %}
    <li{% if forloop.last %} class="active"{% endif %}>{% comment %}
      {% endcomment %}{% unless forloop.last %}<a href="{% for crumb2 in crumbs limit: forloop.index %}{{ crumb2 }}/{% endfor %}">{% endunless %}{% if crumb == "" %}Home{% else %}{{ crumb | capitalize }}{% endif %}{% unless forloop.last %}</a>{% endunless %}{% comment %}
  {% endcomment %}</li>
    {% endfor %}
    {% endif %}
  </ol>
</div>
